.container{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.vertical-line {
  border-left: 2px solid black;
  height: 500px;
  margin: 0px; 
}

.my-name{
  font-size: 50px;
  padding-top: 20%;
}

@media only screen and (max-width: 600px) {
  .container {
      flex-direction: row; /* Switch to horizontal layout on screens wider than 600px */
  }

  .vertical-line {
    width: 100%; /* Make the line span the width of the container */
    height: auto; /* Reset height to auto, making it horizontal */
    margin: 20px 0; /* Adjust vertical margin */
  }

  .my-name{
    font-size: 30px;
    padding-top: 0%;
  }

}


