.social-media-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.social-media-links a {
  color: black;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.social-media-links a:hover {
  color: #2196F3; /* Change color on hover */
}




/* .social-container {
  display: flex; 
}

.social-item {
  padding: 10px; 
}

.small {
  flex: 0.5;
}

.large {
  flex: 4;
}

.link-with-image {
  display: inline-block;
  padding: 18px; 
  text-decoration: none; 
  cursor: pointer; 
}

.link-with-image img {
  width: 40px; 
  height: 40px; 
}

.link-with-image:hover img {
  opacity: 0.8; 
} */
